@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h4>Welcome to The Sleeping Selkie</h4>
        <span><img src="https://miro.medium.com/max/1600/0*Ogc1En5DrRnJ1g-k." class="img-fluid" alt="Responsive image"></span>

    </div>
