@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model SleepingSelkie.Models.OrderItemViewModel

<h4>OrderItemViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OrderItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderAmount" class="control-label"></label>
                <input asp-for="OrderAmount" class="form-control" />
                <span asp-validation-for="OrderAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

